@using EntityLayers.Concerete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EatsLayout.cshtml";
}

<section class="about py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">Hakkımızda </h2>
    </div>
</section>
<!-- //about -->
<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-lg-3">
        @foreach (var x in Model)
        {
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="@x.AboutImage"  class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Birbirinden Güzel Yemek Tarifleri Sizleri Bekliyor</h4>
                <p class="py-3">
                  @x.AboutDetails
                </p>
            </div>
        </div>
        }
    </div>
</section>
<!-- //about bottom -->

@Html.Action("ChefsList","About")